*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height:75px;
    color:white;
}
ul{
    display: flex;
    gap:16px;
    list-style: none;
    color:#E5E7EB;
}
.header{
    display:flex;
    background-color: #1F2937;
    height: 350px;
    justify-content: center;
    align-items:center;
    gap:8px;
}

.head{
font-size: 48px;
font-weight: 900;
color:#F9FAF8;

}
.words{
    width:400px;
    height: 200px;
    
}
.button{
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius:8px;
    border:none;
    color:#F9FAF8;
    font-weight: bold;
    
}
.tes{
    font-size:18px;
    color:#E5E7EB;
}
.boxes{
    width:150px;
    height:150px;
    border: 4px solid#3882F6;
    border-radius: 16px;
}
.images{
    display:flex;
    justify-content: center;
    gap:16px;
    height:250px;
    
}
.cont{
    display:flex;
    flex-direction: column;
    align-items:center

}
h2{
    text-align:center;
    padding:24px;
    padding-top: 48px;
}
.text{
    
    width:150px;
    text-align: center;
    
}

.para{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #E5E7EB;
}
.quote{
    width:500px;
    padding-top:55px;
    font-size: 18px;
    color:#1F2937;
    font-weight: 300px;
}
.thor{
    display:flex;
    justify-content:flex-end;
    margin-bottom:55px;
    font-weight: bold;
    padding-right: 16px;
}
.popup{
    display:flex;
    justify-content: center;
    align-items: center;
}
.signup{
    display:flex;
    background-color: #3882F6;
    padding: 48px 200px;
    margin: 85px;
    gap:200px;
}
h3,
.product{
    color:white;
}
.uff{
    border:4px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 4px 32px;
    font-size: 16px;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 74px;
}
.copyright{
    color:white;
}

.information{
    padding-bottom: 48px;
}